@tailwind base;
@tailwind components;
@tailwind utilities;

.area {
  background: #ffffff; /* Solid fallback */
  /* Standard syntax first */
  background: linear-gradient(to left, #8f94fb, #151A40);
  /* Safari fallback */
  background: -webkit-linear-gradient(to left, #8f94fb, #151A40);
  width: 100%;
}

.circles {
  position: relative; /* Needed for absolute positioning inside */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(9, 84, 170, 0.52);
  bottom: -150px;
  animation: animate 10s linear infinite;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 6s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles li:nth-child(5) {
  left: 60%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 60%;
  width: 60px;
  height: 60px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 5s;
  animation-duration: 10s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 15s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.zoomed {
  transform: scale(1.5); /* Adjust the zoom level as needed */
  transition: transform 0.3s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
